@{
    var isAuthenticated = User?.Identity?.IsAuthenticated == true;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body class="body">
    <div id="wrapper">
        <div id="page">
            <div class="menu-header">
                <div>
                    <ul>
                        <li>  @Html.ActionLink("Home","Index","Home")  </li>
                        <li> @Html.ActionLink("About","Index","About") </li>
                    </ul>
                </div>
                <div class="float-right">
                    <ul>
                        @if (!isAuthenticated)
                        {
                            <li> @Html.ActionLink("Login","Login","Authentication") </li>
                            <li> @Html.ActionLink("Register","Register","Authentication") </li>
                        }
                        else
                        {
                            <li> @Html.ActionLink("Create Post","CreatePost","Post") </li>
                            <li>
                                <form asp-controller="Authentication" asp-action="LogOut" method="post" style="display:inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link p-0">Logout</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div id="header" role="banner">
                <h1>0day in {REA_TEAM}</h1>
                <div class="description"></div>
                <div class="rss"></div>
            </div>
            <hr style="display:none" />

            <div id="container">
                <div id="sidebar" role="complementary">
                    <ul>
                        <li id="search">
                            <h2 class="sidebartitle">Tìm kiếm</h2>
                            <div class="search-box">
                                <form id="frmSearch" method="get" asp-controller="Post" asp-action="SearchPost">
                                    <input type="text" size="15" class="search-field" name="KeyWord" id="KeyWord" placeholder="Search this site"><input type="submit" value="" class="search-go">
                                </form>
                            </div>
                        </li>
                        <li id="recent-posts">
                            <h2 class="sidebartitle">Recent Posts</h2>

                            @await Component.InvokeAsync("ListRecentPost")

                        </li>
                        <li id="recent-comments">
                            <h2 class="sidebartitle">Recent Comments</h2>
                            <div id="list-recent-comment">
                                @await Component.InvokeAsync("ListRecentComment")
                            </div>
                        </li>
                        <li id="categories">
                            <h2 class="sidebartitle">Categories</h2>
                            <div id="list-category">
                                @await Component.InvokeAsync("ListCategory")
                            </div>
                        </li>
                        <li id="top-posts">
                            <h2 class="sidebartitle">Top post</h2>
                            <div id="list-top-post">
                                @await Component.InvokeAsync("ListRecentPost")
                            </div>
                        </li>
                        <li id="list-posts">
                            <h2 class="sidebartitle">List Post </h2>
                            <div id="list-all-post">
                                @await Component.InvokeAsync("ListRecentPost")
                            </div>
                        </li>
                        <li id="statistics">
                            <h2 class="sidebartitle">Statistics</h2>
                            <div id="total-visit">
                                @await Component.InvokeAsync("TotalVisit")
                            </div>
                        </li>
                    </ul>

                </div>
                <div id="content" role="main">
                    <div class="column">
                        @RenderBody()
                    </div>
                </div>
                <div id="footer" role="contentinfo">
                </div>
            </div>
        </div>
    </div>

    <div id="footer-bott">
        <a href="https://www.facebook.com/rin2709">Copyright &copy; by Rin</a>
    </div>
    <div class="footerbar">
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/onlinecount.js"></script>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
