@using ViewModel.ResultViewModel
@model List<PostResultViewModel>;

@{
    ViewData["Title"] = "Search post";
}

<h2 style="border-bottom : 1px dashed #575b59; font-size : 25px">Search Results</h2>
@foreach (var item in Model)
{
    string href = Url.Action("ViewPost", "Post", new { PostId = item.PostId });
    <div class="row">
        <div class="posttitle">
            <h2 class="pagetitle"><a href="@href">@item.Title</a></h2>
        </div>

        <div class="postcomments">
            <a href="#comments">@item.TotalComments</a>
        </div>

        <small>
            Posted: @String.Format("{0,0:D}", item.CreateTime) in
            @Html.ActionLink(item.CategoryName,"Index" , "Home")
            <br>
            @if (item.Tags.Count > 0)
            {
                @Html.Label("Tags:")

                for (int i = 0; i < item.Tags.Count; i++)
                {
                    if (i != (item.Tags.Count - 1))
                    {
                        @Html.ActionLink(string.Concat(item.Tags[i].Title, ","),"Index" , "Home")
                    }
                    else
                    {
                        @Html.ActionLink(string.Concat(" ",item.Tags[i].Title),"Index" , "Home")
                    }
                }

            }
        </small>

        <div class="entry" style="width:100% ;">
            <div id="htmlcode">
                @Html.Raw(item.PostInfomation)
            </div>
        </div>

    </div>
}
@if (Model.Count <= 0)
{
    <h3 style="display:flex; align-content:center;color:#c00;font-size:15px; margin-top:15px"> No result was found</h3>
}
