@using ViewModel.ResultViewModel
@model List<CommentResultViewModel>

@foreach (var item in Model)
{
    <ul class="commentslist">
        <li class="commentsitem" >
            <div class="comments-author">
                <img class="avatar" alt="" src="@Html.AttributeEncode(item.AvatarUrl)" height="40" width="40" originals="40" scale="1.5">

                <span>
                    <a href="#"> @item.UserName</a>
                </span>
                <span style="font-weight : 400">says:</span>
            </div>

            <div class="comments-date">
                <p>
                   @item.CreateTime.Value.ToString("MMMM dd yyyy") 
                    @item.CreateTime.Value.ToString("h:mm tt")
                </p>
            </div>

            @*<div class="comments-rating"></div>*@

            <div class="comments-message">
                <p class="comment-sidebar">@item.CommentMessage</p>
            </div>
        </li> 
    </ul>
}
